*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
 font-family: sans-serif;
 font-style: normal;
 color: #000;
}
body {
  background-image: url(https://images.unsplash.com/photo-1496692052106-d37cb66ab80c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGZyZWV8ZW58MHx8MHx8&w=1000&q=80);
    background-color :#addde67c
}
@media only screen and (max-width: 762px) {
   body {
     background-color: grey;
     width: 100%;
     padding: 0px;
   }
   @media only screen and (max-width: 600px) {
      body {
        background-color: blue;
        width: 100%;
      }
    }
 }
 


 .cabeçalho{
   padding-left: 50%;
   padding-right: 20%;
   font-size: 13px;
   position: relative;
   margin: 3%;
   right: auto 50%;
   font-family: sans-serif;
   justify-content: center;
   text-align: justify;
   letter-spacing: 0px;
   

 }
 .conteudonav{
  display: flex;
  width: 100%;
  height: auto;
  background-color: rgb(67, 67,67);
  justify-content: space-around;
  align-items: flex-start;
 }

 #navimg{
  width: 50px;
  height: 50px;
  border-radius: 50%;
 }
 .conteudoul{
  font-size: 14px;
  line-height: normal;
 list-style: none;
 display: inline;
  
 
 }
 .conteudonav li{
  display: inline-block;
  color: #000;
  padding: 10px;
  align-items: flex-start;

 }
 .conteudonav li :hover{
  background-color: rgb(43, 121, 170);
  cursor: pointer;
 }
 
 .foto{
  display: flex;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 50%; 
  margin-left: 30%;
  margin-top: 20px;
}
   
 .formação {
  width: 100%;
  height: 100px;
 background-color: rgb(67, 67,67);
 text-align: center;
}

 .objetivos {
  width: 100%;
  height: 100px;
 background-color: rgb(242, 242, 242);
 text-align: center;
 margin: 0px 0px 0px 0px;
 }
 .Experiência{
  width: 100%;
  height: 100px;
 background-color: rgb(67, 67,67);
 text-align: center;
 }
 .Meus-projetos{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 400px;
 background-color:rgb(242, 242, 242);
 padding: 30px 30px 30px 30px;
 }
 .Descrição{
  font-size: 14px;
  color: black;
 }
 .Titulo-projeto{
  font-size: 20px;
  font-weight: bold;
 }
 .card {
  background-color: rgb(67, 67,67);
  width: 300px;
  height: 300px;
  border: 3px solid grey;
  box-shadow: 5px black;
  border-radius: 4px;
  padding:  30px auto;
 margin-top: 10px;
 }
 .imagemcard{
  width: 300px;
  height: 150px;
 }

 .card-info >span { 
  display: block;
  padding: 8px 8px 8px 8px ;
 }
 
 .Contatos{
  display: grid;
  grid-template-columns: 60% auto;
  width: 100%;
  height: auto;
  padding-top: 50px;
 }

 .paragrafos{
padding-left: 30%;
font-weight: bold;
 }
  
 .icons{
  display: flex;
  justify-content: end;
  margin: 5px 5px 5px 5px;

 }

 a {
   color: black;
    text-decoration: none;
   border: none;
   border-radius: 5px;
   margin: 3px;
   display: flex;
   align-items: center;
   justify-content: center;
   
 }
a:hover {
background-color: rgba(14, 146, 234, 0.6)
 }
 .link{
  background-color: rgba(67, 67, 67, 0.015);
  color: black;
   margin: 3px;
   border-radius: 20px;
 }
#Formularios{
  width: 250px;
  background-color: #4097ca;
  border: 5px solid rgb(43, 121, 170);
  border-radius: 20px;
  padding: 40px 40px;
  margin: 0px;

}